.homePage {
  position: relative;
}

.main-home {
  width: 80%;
  margin: 50px auto 0 auto;
  border-radius: 30px;
  padding: 80px 0;
  min-height: 400px;
}

.introduction {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  min-height: 300px;
}

.introduction-left {
  width: 400px;
  height: 300px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-image: linear-gradient(to bottom, blue 60%, transparent);
  position: relative;
  animation: selfPhotoCon 2s;
}
@keyframes selfPhotoCon {
  from {
    opacity: 0;
    width: 0;
    height: 0;
  }
  to {
    opacity: 1;
    width: 400px;
    height: 300px;
  }
}

.self-photo {
  width: 320px;
  height: 350px;
  position: absolute;
  bottom: 10px;
  right: 50px;
  left: 40px;
  animation: selfPhoto 2s;
}
@keyframes selfPhoto {
  from {
    opacity: 0;
    width: 0;
    height: 0;
  }
  to {
    opacity: 1;
    width: 320px;
    height: 350px;
  }
}

.introduction-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 407px;
}

.loader {
  position: relative;
  height: 46.5px;
}
.loader::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: white;
  animation: blinkCursor 0.8s steps(3) infinite;
}

.loader2 {
  position: relative;
  height: 46.5px;
}
.loader2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: black;
  animation: blinkCursor 0.8s steps(3) infinite;
}

@keyframes blinkCursor {
  0%,
  75% {
    opacity: 1;
  }
  76%,
  100% {
    opacity: 0;
  }
}

.name {
  position: relative;
  font-size: 40px;
  margin: 0;
  letter-spacing: 5px;
  animation: typing 2s steps(16) forwards;
  overflow: hidden;
  text-wrap: nowrap;
  color: white;
}
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 407px;
  }
}

.specilize {
  font-size: 20px;
  color: blue;
}
.resume {
  font-size: 20px;
  color: gray;
}
.resume-but {
  display: block;
  width: 120px;
  height: 20px;
  text-decoration: none;
  text-align: center;
  padding: 5px 0;
  border: 2px solid blue;
  transition: 0.5s;
}
.download-icon {
  margin-left: 5px;
}
.resume-but:hover {
  scale: 1.1;
  color: blue;
}
