.about-container {
  width: 80%;
  margin: 40px auto 0 auto;
}

.about-title{
    font-size: 32px;
    color: blue;
}

.about-sec{
    font-size: 20px;
}

.about-text{
    color: rgb(166, 166, 166);
}