.header-nav {
  position: sticky;
  z-index: 1;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
}

.header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  margin-left: 150px;
}

.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  margin-right: 150px;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: 0.5s;
  width: 90px;
  height: 25px;
  border-radius: 10px;
  text-align: center;
  letter-spacing: 1px;
}
.nav-item:hover {
  scale: 1.2;
  color: blue;
  font-weight: 700;
}
.active {
  scale: 1.2;
  color: blue;
  font-weight: 700;
}

.mode-button {
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.bulb {
  color: white;
  background-color: transparent;
  box-shadow: 0 -5px 10px 0px white;
  border: none;
  border-radius: 100%;
}
